{% extends "base.html" %}
{% block content %}
      {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
	       <div class="alert alert-danger" role="alert">{{ message }}</div>
               {% endfor %}
         {% endif %}
      {% endwith %}
    <script>
      window.addEventListener("load", function(){
        numpad.attach({
          id : "inputPassword"
        });
      });
    </script>
    <form class="form-login" action="/login" method="POST">
    	    <!--  <img class="mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
      <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
      <label for="inputName" class="sr-only">Name</label>
      <select name="name" class="form-control form-control-lg mp-5" id="inputName">
        {% for user in users %}
        <option value={{ user.name}}>{{ user.name }}</option>
        {% endfor %}
      </select>
      <br />
      <label for="inputPassword" class="sr-only">PIN code</label>
      <input type="number" name="password" id="inputPassword" class="form-control" placeholder="PIN code" required>
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
{% endblock %}

