{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
    <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Welcome, {{name}} ({{pi_name}})!</h4>
      <p>Choose your shower credits</>
      <hr>
      <p class="mb-0">You have {{credits}} credits of shower time left for this week</p>

    </div>
    </div>
  </div>
  <div class="text-center">
    <form action="/instructions" method="POST">
    <button type="submit" class="btn btn-primary btn-lg" name="credit" value=1>1 credit (90 seconds)</button>
    <button type="submit" class="btn btn-primary btn-lg" name="credit" value=2>2 credits (180 seconds)</button>
    </form>
  </div>
  <br />
  <br />
  <br />
  <div class="container">
    <div class="row justify-content-md-center">
      <form action="/logout" method="POST">
        <button class="btn btn-info btn-lg">Back to home</button>
      </form>
    </div>
  </div>
{% endblock %}

